
/* Styles for the whole body */
body {
   margin: 0;
   background-color: #f7c887;
}

/* Navigation bar style */
#Nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#77a6f7;
 

}
#Nav li{
    float: left;
    border-right:2px solid white;
    
   
}

#Nav li a{
    display: block;
    color:black;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    font-weight: bold;
}

/* Navigation bar bover colour change effect */
#Nav a:hover{
    background-color:#D3e3fc;
}

/* Navigation bar click on page colour change effect */
 .active {
    background-color:#f7c887; 
 }

/* Style for all h1 headings */
 h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Patrick Hand', cursive;
}

/* Style for h2 headings */
h2{
   font-family: 'Patrick Hand', cursive;
}

/* Style for homepage paragraph */
#introduction {
    color:black;
    font-size: 20px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

/* Makes and styles boxes for the "Who am I?" Section */
 #who {
    display:inline-block;
    background-color: #D3e3fc;
    border:4px #77a6f7 solid; 
    text-align: center;
    vertical-align: top;
    margin: 1em;
}

/* Adjusting the size of basketball hoop image */
.hoop{
    width:300px;
    height:auto; 
}

/* Makes and styles boxes for the "Hobbies" Section */
#hobbies {
    display:inline-block;
    background-color: #D3e3fc;
    border:4px #77a6f7 solid; 
    text-align: center;
    vertical-align: top;
    margin: 1em;
}

/* Makes and styles boxes for the "Favourite Foods and Drink" Section */
#favourite {
    display:inline-block;
    background-color: #D3e3fc;
    border:4px #77a6f7 solid; 
    text-align: center;
    vertical-align: top;
    margin: 1em;
}

/* Styles pictures and text inside all the boxes */
.box{
    display:inline-block;
    width: 30%;
    height: auto;
    text-align: center;
    vertical-align:middle;
    padding: 2%;
    font-family: 'Patrick Hand', cursive;
    font-size:19px;

}

/* Adjust the size of the "Arduino Shoes" image*/
.tech-pic{
    width:250px;
    height:auto;
}

/* Makes and styles boxes for the "Tech Experence" Section */
#tech-experience{
    display:inline-block;
    background-color: #D3e3fc;
    border:4px #77a6f7 solid; 
    text-align: center;
    vertical-align: top;
    margin: 1em;
}

/* Style the footer for "About Me" and "Tech Experience" pages */
#footer {
    position:relative;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #77a6f7;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
  }

/* Styles the footer for the Homepage */
#footer-index{
    position:fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #77a6f7;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

/* Styles the footer for the Projects page */
#footer-projects{
    position: relative;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #77a6f7;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
}

.cool{
    margin: 0.20cm 0.30cm;
    padding: 35px;
    width: 30%;
    background-color:#D3e3fc;
    vertical-align: middle;
    border: #77a6f7 solid 0.15cm ;
    font-family: 'Patrick Hand', cursive;
    font-size: 15px;
   
}
   
 #buttons{
       text-align: center;
}
   
 #buttons button:hover{
       background-color:#77a6f7;
}